.country__card {
  color: #243d25;
  text-align: center;
  padding-bottom: 1rem;
}

.country__card img {
  width: 100%;
  max-height: 25%;
  height: 10rem;
  border-radius: 8px 8px 0 0;
}
.country__card h2 {
  font-size: 1.5rem;
}
.country__card h3 {
  font-size: 1.2rem;
  font-weight: 600;
}
.country__card p {
  font-size: 1rem;
  font-weight: 600;
}
.btn {
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background-color: #146356;
  color: #fff;
  width: 8rem;
  text-transform: uppercase;
  cursor: pointer;
  margin: 1rem 0;
}
.btn:hover {
  background-color: #4f7e77;
}
