.spinar {
  border: 0.5rem solid rgb(151, 184, 171);
  border-radius: 50%;
  border-top: 0.5rem solid #044d28;
  border-bottom: 0.5rem solid #044d28;
  width: 2rem;
  height: 2rem;
  animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(250, 118, 118);
}
